body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
}
article {
  background-color: #fbf7e3;
  color: #762609;
  border-radius: 40px;
  padding-inline: 2rem;
  padding-bottom: 1.5rem;
  width: 300px;
}

.article {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1000px) {
  body {
    line-height: 1rem;
    font-size: 0.8rem;
  }
  article {
    display: flex;
    flex-direction: row-reverse;
    width: 95%;
    padding-top: 1rem;
  }
  article img {
    margin-right: 1rem;
    min-width: 50%;
  }
}
